
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin-top: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

.Wrapper {
    display: flex;
    height: 100%;
}

.Sidebar {
    height: 100%;
    background: #b9b9b9;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 200px;
}

.Sidebar button {
    margin-bottom: 20px;
}

main {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #fafafa;
}

.Title {
    text-align: center;
    width: 100%;
}

.Container {
    display: flex;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.ContentWrapper {
    background: #fff;
    padding: 40px;
    display: none;
    width: 100%;
}

.SuccessBox {
    display: none;
    background: lightgreen;
    padding: 10px 20px;
}

.SuccessBox p {
    margin: 0;
    text-align: center;
}

form.success {
    margin-bottom: 30px;
}

form.success + .SuccessBox {
    display: block;
}

form section {
    margin-bottom: 20px;
}

form input {
    margin-bottom: 10px;
}

.NavItem {
    background: none;
    border: none;
    font-size: 20px;
    text-align: left;
    padding: 10px 20px;
    cursor: pointer;
}

.NavItem.active {
    background: #fff;
}